= render :partial => 'preamble'

- if @tree.is_a?(Grit::Blob)
  = render :partial => 'blob', :object => @tree
- elsif @tree.is_a?(Grit::Tree)
  = render :partial => 'tree', :object => @tree
- else
  No commit yet against this repository
