= render :partial => 'preamble'

.files
  %table
    %tr
      %th name
      %th age
      %th message
    - for t in @tree.trees
      %tr
        %td= tree_link(@r,@branch,@path,t.name)
        %td age
        %td message
    - for b in @tree.blobs
      %tr
        %td= blob_link(@r,b)
        %td age
        %td message
