body {
  text-align:center;
}

.rlinks li {
  display: inline;
  list-style-type;
  padding: 1em;
}

.branches h2 {
  margin: 2px;
}

.branches ul {
  margin-top: 0px;
}

.branchlinks li {
  display: inline;
  list-style-type;
  padding: 1em;
}

#titlebar {
  text-align:left;
  background-color: #eee;
  padding: 1.5em;
  border-bottom: 1px solid black;
}

#titlebar h1 {
  font-size: 150%;
}

.notmine {
  background-color: #ffdddd;
}

#content {
  border: 1px dotted black;
  padding: 1em;
  position: relative;
  top: -1em;
  border-top: 1px solid black;
  margin-left: 50px;
  margin-right: 50px;
  padding: 0.5em;
  text-align:left;
  background-color: white;
}

p {
  margin-bottom: 1em;
}

.rlinks,.branches,.title, .logininfo {
  margin-bottom: 1em;
}

table {
  width: 100%;
}

table td {
  padding: 0px;
}

.commit {
  border: 1px solid blue;
  background-color: #eef;
  margin-bottom: 1em;
}

.commit .git {
  font-size: 75%;
  border-left: 1px solid blue;
}

.commit td.info {
  width: 65%;
}

.tree table th {
  background-color: #aaaaaa;
}

.tree table td {
  background-color: #dddddd;
}
