body {
  margin:50px 0px; padding:0px;
  text-align:center;
}

.notmine {
  background-color: #ffeeee;
  border: 1px dotted black;
  padding: 1em;
}

.rlinks li {
  display: inline;
  list-style-type;
  padding: 1em;
}

.branches h2 {
  margin: 2px;
}

.branches ul {
  margin-top: 0px;
}

.branchlinks li {
  display: inline;
  list-style-type;
  padding: 1em;
}

#Content {
  width:950px;
  margin:0px auto;
  text-align:left;
}

table {
  width: 100%;
}

table td {
  padding: 0px;
}

.commit {
  border: 1px solid blue;
  background-color: #eef;
  margin-bottom: 1em;
}

.commit .git {
  font-size: 75%;
  border-left: 1px solid blue;
}

.commit td.info {
  width: 65%;
}

.tree table th {
  background-color: #aaaaaa;
}

.tree table td {
  background-color: #dddddd;
}
