%h1 Creating a new ssh_key
- semantic_form_for @key do |form|
  - form.inputs do
    = form.input :name
    = form.input :key, :as => :text, :hint => 'work machine'
  - form.buttons do
    = form.commit_button
